{% extends "layout.html" %}

{% block content %}
    <header>
      <h1 class="title">Search Index</h1>
    </header>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Keyword" aria-label="Keyword" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>

    <header>
      <h1 class="title">Upload Book Index Image</h1>
    </header>
    <div class="input-group mb-3">
      <form class="row g-2" action = "/uploader" method = "POST" enctype = "multipart/form-data">
        <div class="col-auto">
          <input class="form-control" id="image-upload" type = "file" name = "file" />
        </div>
        <div class="col-auto">
          <input class="btn btn-outline-secondary" type = "submit"/>
        </div>
      </form>
    </div>

  

{% endblock %}