{% extends "layout.html" %}

{% block content %}
    <header>
      <h1 class="title">Search Index</h1>
    </header>

    <div class="input-group mb-3">
      <form class="row g-2" action = "/search" method = "POST" enctype = "multipart/form-data">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Keyword" name="keyword" aria-label="Keyword" aria-describedby="button-addon2">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
      </form>
    </div>

    <header>
      <h1 class="title">Search Result</h1>
    </header>
    <div class="input-group mb-3">
      <table class="table">
        <thead>
            <tr>
            <th scope="col">Book</th>
            <th scope="col">Page no.</th>
            </tr>
        </thead>
        <tbody>
          {%for page, title in indexes%}
          <tr>
            <td> {{title.capitalize()}} </td>
            <td> {{page}} </td>
          </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>

    <header>
      <h1 class="title">List of Books</h1>
    </header>
    <div class="input-group mb-3">
      <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Book</th>
            </tr>
        </thead>
        <tbody>
          {%for id, title in books%}
          <tr>
            <td> {{id}} </td>
            <td> {{title.capitalize()}} </td>
          </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>

  

{% endblock %}