{% extends "layout.html" %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/show">Show</a>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <h1 class="title">List of items</h1>
  </header>
  <div class="input-group mb-3">
    <table class="table">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Keyword</th>
            <th scope="col">Page</th>
          </tr>
      </thead>
      <tbody>
        {%for id, keyword, page, book_id in indexes%}
        <tr>
          <td> {{id}} </td>
          <td> {{keyword.capitalize()}} </td>
          <td> {{page}} </td>
        </tr>
          {%endfor%}
      </tbody>
      </table>
  </div>

  

{% endblock %}