{% extends "layout.html" %}

{% block content %}
<header>
    <h1 class="title">{{ fname }} successfully uploaded.</h1>
</header>
<div class="upload-container">
    <h2 class="title" class="upload-label">Upload your image</h2>
    <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <input id="image-upload" type = "file" name = "file" />
        <input class="upload-button" type = "submit"/>
    </form>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="image-container">
            <p class="text-left">Original Image</p>     
            <a href="/static/uploads/{{ fname }}" target="_new"><img src="/static/uploads/{{ fname }}" class="upload-image-thumb"></a>
        </div>
    </div>
    <div class="col-md-7 ocr-text">
        <p class="text-left">OCR Text from processed Image</p>
        <textarea cols="50" rows="10">{{ displaytext }}</textarea>
    </div>
</div>  
{% endblock %}